* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    color: #091E56;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 60px;
  margin-bottom: 10px;
}

.title-logo {
  width: 180px;
  height: 50px;
}

.module{
    width: 90%;
    padding-left: 30px;
}

.signup-logo{
    height: 50px;
    width: 50px;
}

.signup-section{
    text-align: center;
    margin-right: 200px;
}

.signup-details{
    margin-top: 7px;
    font-weight: light;
    font-size: 25px;
    color: black;
}

.inside-border{
    margin-top: 20px;
    display: inline-block;
    border: 0px solid grey;
    box-shadow: 0px 0px 6px grey;
    min-height: fit-content;
    width: 430px;
}

#email-error, #pw-error, #pwconfirm-error{
    font-size: 10px;
    padding: -8px 0px -8px 0px;
}

#name-field, #email-field, #mobile-field, #pw-field, #pwconfirm-field{
    font-weight: lighter;
    padding-left: 5px;
    font-size: 16px;
    width: 80%;
    height: 47px;
    margin-top: 18px;
    margin-bottom: 20px;
    color: grey;
}

button{
    display:inline-block;
    font-size: 15px;
    margin: 10px 0px 20px 0px;
    border: 1px solid #F2DE26;
    padding: 8px 35px 8px 35px;
    background-color: rgb(244,244,244);
    border-radius: 18px;
    text-decoration: none;
    color: #43537F;
    cursor: pointer;
}

button:hover {
    background-color: #F2DE26;
}

.mid-section{
    display: flex;
}

.already-have-account, .signup-difficulty{
    margin-top: 25px;
    font-size: 15px;
}


